@import 'var';

*{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--color-body);
}
a, button, input, h1, h2, h3, h4, h5, h6, p {
    all: unset;
}
ul, li {
    list-style-type: none;
}

//reusable
.btn-round {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--color-azure-100);
    border: var(--border-black);
    i {
        color: var(--color-black);
        font-size: var(--size-32);
    }
    &:hover {
        cursor: pointer;
        background-color: var(--color-azure-70);
    }
    box-shadow: -4px 4px 0px var(--color-black);
    z-index: 3;
}
.btn-exit {
    position: absolute;
    right: 60px;
    top: 60px;
}
 //OVERWRITE///////////////////////
.move {
    right: 58% !important;
}
//////////////////////////////////

#root {
    width: 100vw;
    height: 100vh;
}
.app {
    background-color: var(--color-body);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .header {
        position: relative;
        width: 100%;
        max-width: 1240px;
        height: 80%; //100%?
        max-height: 600px;
        margin: 0px 100px 0px 100px;
        &__logo {
            @include logo;
            max-width: 472px;
            padding: 0 70px;
            border: var(--border-black);
            border-radius: 60px;
            background-color: var(--color-azure-100);
            position: absolute;
            top: -30px;
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
            text-align: center;
            z-index: 3;
        }
        &__btn {
            position: absolute;
            left: -40px;
            margin-top: auto;
            margin-bottom: auto;
            top: 0;
            bottom: 0;
            z-index: 3;
        }
        &__btns {
            display: flex;
            gap: 18px;
            position: absolute;
            bottom: -40px;
            right: 52px;
            z-index: 3;
        }
        &__sections {
            width: 100%;
            height: 100%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 0;
            position: relative;
        }
    }
    .about {
        background-color: var(--color-pale-40);
        border-width: 6px 3px 3px 6px;
        border-radius: 80px 0 0 0;
        &:hover {
            cursor: pointer;
            background-color: var(--color-pale-70);
        }
        &__more {
            background-color: var(--color-yellow-100);
            position: absolute;
            margin-top: auto;
            margin-bottom: auto;
            top: 0;
            bottom: 0;
            right: -40px;
            z-index: 3;
            &:hover {
                background-color: var(--color-yellow-70);
            }
            transition: right 1s;
        }
        &__container {
            padding: 86px;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
        }
        &__img {
            width: 50%;
            padding: 50px;
            align-self: center;
            justify-self: center;
        }
        &__short {
            width: 28%;
            @include body-regular;
            display: flex;
            flex-direction: column;
            gap: 12px;
        }
        &__long {
            @include body-regular;
            position: absolute;
            right: 0px;
            top: 0px;
            width: 0;
            border-radius: 0 80px 80px 0;
            background-color: var(--color-yellow-70);
            overflow: hidden;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            transform: scale(.7);
            p {
                overflow: hidden;
            }
            transition: all 1s;
        }
    }
    .about-active {
        @extend %active;
        background-color: var(--color-pale-70);
        .visible {
            padding: 86px;
            outline: var(--border-black);
            width: 60% !important;
            transform: scale(1) !important;
        }
    }
    .skills {
        background-color: var(--color-azure-40);
        border-width: 6px 3px 3px 3px;
        &:hover {
            cursor: pointer;
            background-color: var(--color-azure-70);
        }
        &__container {
            grid-template-columns: repeat(3, 1fr);
            gap: 46px;
        }
        &__card {
            display: flex;
            flex-direction: column;
            height: 46px;
            width: 100%;
            justify-content: space-between;
            &__top {
                display: flex;
                justify-content: space-between;
                @include body-regular;
            }
            &__bottom {
                width: 100%;
                position: relative;
                &__bar-percent {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 14px;
                    background-color: var(--color-yellow-100);
                    border: var(--border-black-mobile);
                    border-radius: 8px;
                }
                &__bar-bg {
                    background-color: var(--color-body);
                    border: var(--border-black-half);
                    border-radius: 8px;
                    width: 100%;
                    height: 14px;
                }
            }
        }
    }
    .skills-active {
        background-color: var(--color-azure-70); 
    }
    .skills-active, .education-active, .work-active, .portfolio-active, .contact-active {
        @extend %active;
        &__content {
            display: flex;
            align-items: flex-end;
        }
    }
    .education-active {
        background-color: var(--color-neon-pink-70) !important;
    }
    .education {
        background-color: var(--color-neon-pink-40);
        border-width: 6px 6px 3px 3px;
        border-radius: 0 80px 0 0;
        &:hover {
            cursor: pointer;
            background-color: var(--color-neon-pink-70);
        }
        &__container {
            grid-template-columns: repeat(3, 1fr);
            gap: 32px;
        }
        &__card {
            background-color: var(--color-scroll);
            display: flex;
            flex-direction: column;
            gap: 8px;
            border-radius: 20px;
            border: var(--border-black-thin);
            padding: 12px;
            &__profession {
                @include body-medium;
                padding-bottom: 26px;
            }
            &__school {
                @include title;
            }
            &__place {
                @include body-light;
            }
            &__year {
                padding-top: 26px;
                text-align: right;
                @include body-light;
            }
        }
    }
    .work-active {
        background-color: var(--color-blue-70);
    }
    .work {
        background-color: var(--color-blue-40);
        border-width: 3px 3px 6px 6px;
        border-radius: 0 0 0 80px;
        &:hover {
            cursor: pointer;
            background-color: var(--color-blue-70);
        }
        &__container {
            grid-template-columns: repeat(2, 1fr);
            gap: 48px;
        }
        &__card {
            background-color: var(--color-scroll);
            display: flex;
            flex-direction: column;
            gap: 48px;
            border-radius: 20px;
            border: var(--border-black-thin);
            padding: 12px;
            &__profession {
                @include title;
            }
            &__items {
                display: flex;
                flex-direction: column;
                gap: 16px;
                margin-left: auto;
                margin-right: auto;
                width: 75%;
            }
            &__item {
                display: flex;
                flex-direction: column;
                &__top {
                    @include body-L-medium;
                }
                &__bottom {
                    display: flex;
                    justify-content: space-between;
                    @include body-light;
                }
            }
        }
    }
    .portfolio-active {
        background-color: var(--color-pink-70)
    }
    .portfolio {
        background-color: var(--color-pink-40);
        border-width: 3px 3px 6px 3px;
        &:hover {
            cursor: pointer;
            background-color: var(--color-pink-70);
        }
        &__container {
            grid-template-columns: repeat(3, 1fr);
            gap: 48px;
        }
        &__card {
            display: flex;
            flex-direction: column;
            position: relative;
            background-color: var(--color-scroll);
            border-radius: 20px;
            border: var(--border-black-thin);
            .left {
                right: 90%;
            }
            .move {
                width: 100%;
                right: 0 !important;
                transform: scale(1);
                position: absolute;
            }
            &__btn {
                position: absolute;
                right: -30px;
                bottom: -30px;
                background-color: var(--color-yellow-100);
                transform: scale(.6);
                transition: right 1s;
                &:hover {
                    background-color: var(--color-yellow-70);
                }
            }
            &__text {
                width: 0;
                height: 100%;
                transform: scale(0);
                position: absolute;
                left: auto;
                right: 0;
                top: 0;
                background-color: var(--color-yellow-70);
                border: var(--border-black);
                border-radius: 20px;
                padding: 18px;
                transition: all 1s;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                overflow: hidden;
                @include body-medium;
                .bold {
                    @include body-bold;
                }
                &__read {
                    @include body-light;
                }
            }
            &__top {
                padding: 18px;
                &__link {
                    position: relative;
                    width: 100%;
                    &:hover {
                        .portfolio__card__top__demo {
                            visibility: visible;
                        }
                    }
                }
                &__demo {
                    @include body-S-medium;
                    position: absolute;
                    top: -36px;
                    left: 12px;
                    padding: 8px;
                    border-radius: 10px;
                    background-color: var(--color-yellow-70);
                    visibility: hidden;
                }
                &__img {
                    width: 100%;
                    height: 140px;
                    object-fit: cover;
                    border-radius: 10px;
                    filter: grayscale(.7);
                    &:hover {
                        cursor: pointer;
                        filter: grayscale(0);
                    }
                }
            }
            &__bottom {
                padding: 18px;
                display: flex;
                flex-direction: column;
                gap: 8px;
                &__title {
                    @include title;
                }
                &__read {
                    align-self: flex-end;
                    padding: 0 12px;
                    @include body-light;
                }
            }
        }
    }
    .contact-active {
        background-color: var(--color-yellow-70);
    }
    .contact {
        background-color: var(--color-yellow-40);
        border-width: 3px 6px 6px 3px;
        border-radius: 0 0 80px 0;
        &:hover {
            cursor: pointer;
            background-color: var(--color-yellow-70);
        }
    }
    .about, .skills, .education, .work, .portfolio, .contact {
        @extend %section;
        &__title {
            @include title-main;
        }
        
        &-active {
            &__title {
                @include title-main;
                position: absolute;
                left: 86px;
                top: 120px;
            }
            &__content {
                display: none;
                position: absolute;
                width: 100%;
                height: 100%;
                visibility: hidden;
            }
            .display {
                display: flex;
                visibility: visible;
            }
        }
    }
    .skills, .education, .work, .portfolio, .contact {
        &__container {
            padding: 36px;
            margin: 50px;
            display: grid;
            position: relative;
            bottom: 0;
            width: 100%;
        }
    }
}


//MEDIA QUERIES//
//LAPTOP
@media screen and (max-width: 1023px) {
    .app {
        .header {
            margin: 0 60px 0 60px;
            &__logo {
                max-width: 260px;
            }
            .about, .skills, .education, .work, .portfolio, .contact {
                &__title {
                    @include logo;
                }
            }
            .about {
                &__short, &__long {
                    @include body-S-regular;
                }
                &__img {
                    padding: 30px;
                }
            }
            .education {
                &__card {
                    &__profession {
                        @include body-S-medium;
                    }
                    &__school {
                        @include body-L-bold;
                    }
                }
            }
            .work {
                &__container {
                    overflow-y: scroll;
                    overflow-x: hidden;
                    max-height: 50%;
                    grid-template-columns: repeat(1, 1fr);
                }
                &__card {
                    &__items {
                        width: 90%;
                    }
                }
            }
            .portfolio {
                &__container {
                    overflow-y: scroll;
                    overflow-x: hidden;
                    max-height: 55%;
                    grid-template-columns: repeat(2, 1fr);
                }
            }
        }
    }
}
//TABLET
@media screen and (max-width: 768px) {
    .app {
        .header {
            margin: 0 20px 0 20px;
            &__logo {
                max-width: 220px;
            }
            .about, .skills, .education, .work, .portfolio, .contact {
                &__title {
                    @include logo-mobile;
                }
            }
            .visible {
                width: 100% !important;
                border-radius: 80px !important;
            }
            .about {
                &__short {
                    @include body-mobile-regular;
                    width: 35%;
                }
                &__img {
                    padding: 10px;
                }
            }
            .skills, .education {
                &__container {
                    overflow-y: scroll;
                    overflow-x: hidden;
                    max-height: 48%;
                    grid-template-columns: repeat(2, 1fr);
                }
            }
            .portfolio {
                &__container {
                    grid-template-columns: repeat(1, 1fr);
                }
            }
        }
    }
    .move {
        right: 96% !important;
    }
}
//MOBILE
@media screen and (max-width: 480px) {
    .app {
        .btn-round {
            width: 44px;
            height: 44px;
            border: var(--border-black-mobile);
            i {
                font-size: var(--size-20);
            }
        }
        .header {
            &__logo {
                font-size: var(--size-32);
                line-height: 40px;
                max-width: 180px;
                padding: 0 6px;
                border: var(--border-black-mobile);
                top: -20px;
            }
            &__btn {
                left: -22px;
                top: 40px;
                margin: 0;
            }
            &__btns {
                gap: 6px;
                bottom: -22px;
                right: 12px;
            }
            &__sections {
                grid-template-columns: repeat(1, 1fr);
            }
            .about {
                border-width: 6px 6px 3px 6px;
                border-radius: 80px 80px 0 0;
                &__long {
                    @include body-mobile-regular;
                }
                &__container {
                    flex-direction: column;
                    justify-content: flex-end;
                    gap: 24px;
                }
                &__short {
                    width: 100%;
                }
                &__img {
                    width: 80%;
                }
            }
            .visible {
                padding: 48px !important;
            }
            .education, .work, .portfolio, .skills {
                border-width: 3px 6px 3px 6px;
                border-radius: 0;
            }
            .contact {
                border-width: 3px 6px 6px 6px;
                border-radius: 0 0 80px 80px;
            }
            .about, .skills, .education, .work, .portfolio, .contact {
                &-active {
                    &__title {
                        margin-left: auto; //check!!!!!!!!!!!!!!!
                        margin-right: auto;
                        //left: 0;
                        right: 0;
                        top: 100px;
                    }
                }
                &__container {
                    margin: 20px 20px 40px 20px;
                    padding: 22px;
                }
            }
            .btn-exit {
                top: 48px;
                right: 28px;
            }
            .skills, .education {
                &__container {
                    grid-template-columns: repeat(1, 1fr);
                }
            }
            .work {
                &__card {
                    &__items {
                        gap: 32px;
                    }
                    &__profession {
                        @include body-L-bold;
                    }
                    &__item {
                        gap: 12px;
                        &__bottom {
                            flex-direction: column;
                            gap: 6px;
                        }  
                    }  
                }
            }
            .portfolio {
                &__card {
                    &__text {
                        @include body-S-medium;
                        .bold {
                            @include body-S-bold;
                        }
                        &__read {
                            @include body-S-light;
                        }
                    }
                }
            }
        }
    } 
}

