@import 'var';

*{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--color-body);
}
a, button, input, h1, h2, h3, h4, h5, h6, p {
    all: unset;
}
ul, li {
    list-style-type: none;
}

//reusable
.btn-round {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--color-azure-100);
    border: var(--border-black);
    i {
        color: var(--color-black);
        font-size: var(--size-32);
    }
    &:hover {
        cursor: pointer;
        background-color: var(--color-azure-70);
    }
}

#root {
    width: 100vw;
    height: 100vh;
}
.app {
    background-color: var(--color-body);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .header {
        position: relative;
        width: 100%;
        max-width: 1240px;
        height: 100%;
        max-height: 600px;
        border: var(--border-black);
        border-radius: 80px;
        margin: 0 100px 0 100px;
        &__logo {
            @include logo;
            max-width: 472px;
            padding: 0 70px;
            border: var(--border-black);
            border-radius: 60px;
            background-color: var(--color-azure-100);
            position: absolute;
            top: -30px;
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
            text-align: center;
        }
        &__btn {
            position: absolute;
            left: -40px;
            margin-top: auto;
            margin-bottom: auto;
            top: 0;
            bottom: 0;
        }
        &__btns {
            display: flex;
            gap: 18px;
            position: absolute;
            bottom: -40px;
            right: 52px;
        }
        &__sections {
            width: 100%;
            height: 100%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 0;
        }
    }
    .about {
        background-color: var(--color-pale-40);
        border-radius: 70px 0 0 0;
        &:hover {
            cursor: pointer;
            background-color: var(--color-pale-70);
        }
    }
    .skills {
        background-color: var(--color-azure-40);
        &:hover {
            cursor: pointer;
            background-color: var(--color-azure-70);
        }
    }
    .education {
        background-color: var(--color-neon-pink-40);
        border-radius: 0 70px 0 0;
        &:hover {
            cursor: pointer;
            background-color: var(--color-neon-pink-70);
        }
    }
    .work {
        background-color: var(--color-blue-40);
        border-radius: 0 0 0 70px;
        &:hover {
            cursor: pointer;
            background-color: var(--color-blue-70);
        }
    }
    .portfolio {
        background-color: var(--color-pink-40);
        &:hover {
            cursor: pointer;
            background-color: var(--color-pink-70);
        }
    }
    .contact {
        background-color: var(--color-yellow-40);
        border-radius: 0 0 70px 0;
        &:hover {
            cursor: pointer;
            background-color: var(--color-yellow-70);
        }
    }
    .about, .skills, .education, .work, .portfolio, .contact {
        @extend %section;
        &__title {
            @include title-main;
        }
    }
}


//MEDIA QUERIES//
//LAPTOP
@media screen and (max-width: 1023px) {
    .app {
        .header {
            margin: 0 60px 0 60px;
            &__logo {
                max-width: 260px;
            }
        }
    }
}
//TABLET
@media screen and (max-width: 768px) {
    .app {
        .header {
            &__logo {
                max-width: 220px;
            }
        }
    }
}
//MOBILE
@media screen and (max-width: 480px) {
    .app {
        .btn-round {
            width: 44px;
            height: 44px;
            border: var(--border-black-mobile);
            i {
                font-size: var(--size-20);
            }
        }
        .header {
            margin: 0 20px 0 20px;
            border: var(--border-black-mobile);
            &__logo {
                font-size: var(--size-32);
                line-height: 40px;
                max-width: 180px;
                padding: 0 6px;
                border: var(--border-black-mobile);
                top: -20px;
            }
            &__btn {
                left: -22px;
                top: 40px;
                margin: 0;
            }
            &__btns {
                gap: 6px;
                bottom: -22px;
                right: 12px;
            }
        }
    }
}