@font-face {
  font-family: "xillian";
  src: url(../fonts/Xillian-Regular.otf) format(opentype);
}
@font-face {
  font-family: "lato";
  src: url(../fonts/Lato-Black.ttf) format(truetype);
  font-weight: 700;
}
@font-face {
  font-family: "lato";
  src: url(../fonts/Lato-Light.ttf) format(truetype);
  font-weight: 300;
}
@font-face {
  font-family: "lato";
  src: url(../fonts/Lato-Regular.ttf) format(truetype);
  font-weight: 400;
}
@font-face {
  font-family: "lato";
  src: url(../fonts/Lato-Bold.ttf) format(truetype);
  font-weight: 500;
}
.app .header .contact__card__send, .app .header .portfolio__card__bottom__read, .app .header .portfolio__card__text__read, .app .header .portfolio__card__text .bold, .app .header .portfolio__card__text, .app .header .work__card__item__bottom, .app .header .education__card__year, .app .header .education__card__place, .app .header .education__card__profession, .app .header .skills__card__top, .app .header .about__long, .app .header .about__short {
  font-family: var(--font-main);
  font-size: var(--size-16);
  color: var(--color-text);
  line-height: 18px;
}

:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-body: #F0EAD8;
  --color-text: #020E2C;
  --color-azure-100: #0DB39E;
  --color-azure-70: #51C4AF;
  --color-azure-40: #95D4C1;
  --color-blue-100: #048BA8;
  --color-blue-70: #4BA8B6;
  --color-blue-40: #92C4C5;
  --color-yellow-100: #F7B538;
  --color-yellow-70: #F5C568;
  --color-yellow-40: #F3D598;
  --color-neon-pink-100: #F73668;
  --color-neon-pink-70: #F56C8A;
  --color-neon-pink-40: #F3A2AB;
  --color-pink-100: #F76E7C;
  --color-pink-70: #F59398;
  --color-pink-40: #F3B8B3;
  --color-pale-100: #FF7F75;
  --color-pale-70: #FA9F93;
  --color-pale-40: #F6BFB0;
  --color-scroll: #F0EAD833;
  --font-main: "lato", sans-serif;
  --font-secondary: "xillian", sans-serif;
  --size-12: 12px;
  --size-14: 14px;
  --size-16: 16px;
  --size-18: 18px;
  --size-20: 20px;
  --size-32: 32px;
  --size-40: 40px;
  --size-48: 48px;
  --weight-light: 300;
  --weight-regular: 400;
  --weight-medium: 500;
  --weight-bold: 700;
  --border-black: 6px solid var(--color-black);
  --border-black-mobile: 4px solid var(--color-black);
  --border-black-half: 3px solid var(--color-black);
  --border-black-thin: 1px solid var(--color-black);
}

.grey-mode {
  --color-body: #EAEAEA;
  --color-azure-100: #7F7F7F;
  --color-azure-70: #9F9F9F;
  --color-azure-40: #BFBFBF;
  --color-blue-100: #666666;
  --color-blue-70: #8E8E8E;
  --color-blue-40: #B5B5B5;
  --color-yellow-100: #BBBBBB;
  --color-yellow-70: #C9C9C9;
  --color-yellow-40: #D7D7D7;
  --color-neon-pink-100: #757575;
  --color-neon-pink-70: #989898;
  --color-neon-pink-40: #BBBBBB;
  --color-pink-100: #999999;
  --color-pink-70: #B1B1B1;
  --color-pink-40: #C9C9C9;
  --color-pale-100: #A4A4A4;
  --color-pale-70: #B9B9B9;
  --color-pale-40: #CECECE;
}

::-webkit-scrollbar {
  background-color: var(--color-scroll);
  width: 12px;
}

::-webkit-scrollbar-track {
  border: var(--border-black-half);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-scroll);
  border: var(--border-black-half);
  border-radius: 8px;
}

* {
  scrollbar-color: var(--color-scroll) var(--color-scroll);
}

* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-body);
}

a, button, input, h1, h2, h3, h4, h5, h6, p {
  all: unset;
}

ul, li {
  list-style-type: none;
}

.btn-round {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--color-azure-100);
  border: var(--border-black);
  box-shadow: -4px 4px 0px var(--color-black);
  z-index: 3;
}
.btn-round i {
  color: var(--color-black);
  font-size: var(--size-32);
}
.btn-round:hover {
  cursor: pointer;
  background-color: var(--color-azure-70);
}

.btn-exit {
  position: absolute;
  right: 60px;
  top: 60px;
}

#root {
  width: 100vw;
  height: 100vh;
}

.app {
  background-color: var(--color-body);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.app .header {
  position: relative;
  width: 100%;
  max-width: 1240px;
  height: 100%;
  max-height: 600px;
  margin: 0px 100px 0px 100px;
}
.app .header__logo {
  font-family: var(--font-secondary);
  font-size: var(--size-40);
  font-weight: var(--weight-medium);
  color: var(--color-text);
  line-height: 48px;
  max-width: 472px;
  padding: 0 70px;
  border: var(--border-black);
  border-radius: 60px;
  background-color: var(--color-azure-100);
  position: absolute;
  top: -30px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 3;
}
.app .header__btn {
  position: absolute;
  left: -40px;
  margin-top: auto;
  margin-bottom: auto;
  top: 0;
  bottom: 0;
  z-index: 3;
}
.app .header__btns {
  display: flex;
  gap: 18px;
  position: absolute;
  bottom: -40px;
  right: 52px;
  z-index: 3;
}
.app .header__sections {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0;
  position: relative;
}
.app .header .about {
  background-color: var(--color-pale-40);
  border-width: 6px 3px 3px 6px;
  border-radius: 80px 0 0 0;
}
.app .header .about:hover {
  cursor: pointer;
  background-color: var(--color-pale-70);
}
.app .header .about__more {
  background-color: var(--color-yellow-100);
  position: absolute;
  margin-top: auto;
  margin-bottom: auto;
  top: 0;
  bottom: 0;
  right: -40px;
  z-index: 3;
  transition: right 1s;
}
.app .header .about__more:hover {
  background-color: var(--color-yellow-70);
}
.app .header .about__container {
  padding: 86px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.app .header .about__img {
  width: 50%;
  padding: 50px;
  align-self: center;
  justify-self: center;
}
.app .header .about__short {
  width: 28%;
  font-weight: var(--weight-regular);
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.app .header .about__long {
  font-weight: var(--weight-regular);
  position: absolute;
  right: 0px;
  top: 0px;
  width: 0;
  border-radius: 0 80px 80px 0;
  background-color: var(--color-yellow-70);
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: scale(0.7);
  transition: all 1s;
}
.app .header .about__long p {
  overflow: hidden;
}
.app .header .about__long p:first-child {
  padding-right: 60px;
}
.app .header .about .visible {
  padding: 86px;
  outline: var(--border-black);
  width: 60%;
  transform: scale(1);
}
.app .header .about .move {
  right: 58%;
}
.app .header .skills {
  background-color: var(--color-azure-40);
  border-width: 6px 3px 3px 3px;
}
.app .header .skills:hover {
  cursor: pointer;
  background-color: var(--color-azure-70);
}
.app .header .skills__container {
  grid-template-columns: repeat(3, 1fr);
  gap: 46px;
}
.app .header .skills__card {
  display: flex;
  flex-direction: column;
  height: 46px;
  width: 100%;
  justify-content: space-between;
}
.app .header .skills__card__top {
  display: flex;
  justify-content: space-between;
  font-weight: var(--weight-regular);
}
.app .header .skills__card__bottom {
  width: 100%;
  position: relative;
}
.app .header .skills__card__bottom__bar-percent {
  position: absolute;
  top: 0;
  left: 0;
  height: 14px;
  background-color: var(--color-yellow-100);
  border: var(--border-black-mobile);
  border-radius: 8px;
}
.app .header .skills__card__bottom__bar-bg {
  background-color: var(--color-body);
  border: var(--border-black-half);
  border-radius: 8px;
  width: 100%;
  height: 14px;
}
.app .header .education {
  background-color: var(--color-neon-pink-40);
  border-width: 6px 6px 3px 3px;
  border-radius: 0 80px 0 0;
}
.app .header .education:hover {
  cursor: pointer;
  background-color: var(--color-neon-pink-70);
}
.app .header .education__container {
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}
.app .header .education__card {
  background-color: var(--color-scroll);
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-radius: 20px;
  border: var(--border-black-thin);
  padding: 12px;
}
.app .header .education__card__profession {
  font-weight: var(--weight-medium);
  padding-bottom: 26px;
}
.app .header .education__card__school {
  font-family: var(--font-main);
  font-size: var(--size-20);
  font-weight: var(--weight-bold);
  color: var(--color-text);
  line-height: 24px;
}
.app .header .education__card__place {
  font-weight: var(--weight-light);
}
.app .header .education__card__year {
  padding-top: 26px;
  text-align: right;
  font-weight: var(--weight-light);
}
.app .header .work {
  background-color: var(--color-blue-40);
  border-width: 3px 3px 6px 6px;
  border-radius: 0 0 0 80px;
}
.app .header .work:hover {
  cursor: pointer;
  background-color: var(--color-blue-70);
}
.app .header .work__container {
  grid-template-columns: repeat(2, 1fr);
  gap: 48px;
}
.app .header .work__card {
  background-color: var(--color-scroll);
  display: flex;
  flex-direction: column;
  gap: 48px;
  border-radius: 20px;
  border: var(--border-black-thin);
  padding: 12px;
}
.app .header .work__card__profession {
  font-family: var(--font-main);
  font-size: var(--size-20);
  font-weight: var(--weight-bold);
  color: var(--color-text);
  line-height: 24px;
}
.app .header .work__card__items {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}
.app .header .work__card__item {
  display: flex;
  flex-direction: column;
}
.app .header .work__card__item__top {
  font-family: var(--font-main);
  font-size: var(--size-18);
  font-weight: var(--weight-medium);
  color: var(--color-text);
  line-height: 22px;
}
.app .header .work__card__item__bottom {
  display: flex;
  justify-content: space-between;
  font-weight: var(--weight-light);
}
.app .header .portfolio {
  background-color: var(--color-pink-40);
  border-width: 3px 3px 6px 3px;
}
.app .header .portfolio:hover {
  cursor: pointer;
  background-color: var(--color-pink-70);
}
.app .header .portfolio__container {
  grid-template-columns: repeat(3, 1fr);
  gap: 48px;
}
.app .header .portfolio__card {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: var(--color-scroll);
  border-radius: 20px;
  border: var(--border-black-thin);
}
.app .header .portfolio__card .left {
  right: 90%;
}
.app .header .portfolio__card .move {
  width: 100%;
  right: 0;
  transform: scale(1);
  position: absolute;
}
.app .header .portfolio__card__btn {
  position: absolute;
  right: -30px;
  bottom: -30px;
  background-color: var(--color-yellow-100);
  transform: scale(0.6);
  transition: right 1s;
}
.app .header .portfolio__card__btn:hover {
  background-color: var(--color-yellow-70);
}
.app .header .portfolio__card__text {
  width: 0;
  height: 100%;
  transform: scale(0);
  position: absolute;
  left: auto;
  right: 0;
  top: 0;
  background-color: var(--color-yellow-70);
  border: var(--border-black);
  border-radius: 20px;
  padding: 18px;
  transition: all 1s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  font-weight: var(--weight-medium);
}
.app .header .portfolio__card__text .bold {
  font-weight: var(--weight-bold);
}
.app .header .portfolio__card__text__read {
  font-weight: var(--weight-light);
}
.app .header .portfolio__card__top {
  padding: 18px;
}
.app .header .portfolio__card__top__link {
  position: relative;
  width: 100%;
}
.app .header .portfolio__card__top__link:hover .portfolio__card__top__demo {
  visibility: visible;
}
.app .header .portfolio__card__top__demo {
  font-family: var(--font-main);
  font-size: var(--size-14);
  font-weight: var(--weight-medium);
  color: var(--color-text);
  line-height: 16px;
  position: absolute;
  top: -36px;
  left: 12px;
  padding: 8px;
  border-radius: 10px;
  background-color: var(--color-yellow-70);
  visibility: hidden;
}
.app .header .portfolio__card__top__img {
  width: 100%;
  height: 140px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  filter: grayscale(0.7);
}
.app .header .portfolio__card__top__img:hover {
  cursor: pointer;
  filter: grayscale(0);
}
.app .header .portfolio__card__bottom {
  padding: 18px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.app .header .portfolio__card__bottom__title {
  font-family: var(--font-main);
  font-size: var(--size-20);
  font-weight: var(--weight-bold);
  color: var(--color-text);
  line-height: 24px;
}
.app .header .portfolio__card__bottom__read {
  align-self: flex-end;
  padding: 0 12px;
  font-weight: var(--weight-light);
}
.app .header .contact {
  background-color: var(--color-yellow-40);
  border-width: 3px 6px 6px 3px;
  border-radius: 0 0 80px 0;
}
.app .header .contact:hover {
  cursor: pointer;
  background-color: var(--color-yellow-70);
}
.app .header .contact__card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 48px;
}
.app .header .contact__card__form {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 12px 12px 12px;
  background-color: var(--color-scroll);
  border-radius: 20px;
  border: var(--border-black-thin);
}
.app .header .contact__card__send {
  align-self: flex-end;
  padding-right: 24px;
  padding-top: 32px;
  font-weight: var(--weight-light);
}
.app .header .contact__card__label {
  font-family: var(--font-main);
  font-size: var(--size-18);
  font-weight: var(--weight-medium);
  color: var(--color-text);
  line-height: 22px;
}
.app .header .contact__card__input {
  height: 36px;
  padding: 0 12px;
  border-bottom: var(--border-black-half);
}
.app .header .contact__card__input:hover {
  cursor: text;
  background-color: var(--color-yellow-70);
}
.app .header .contact__card__input:active, .app .header .contact__card__input:focus {
  background-color: var(--color-yellow-100);
}
.app .header .contact__card__btn {
  position: absolute;
  right: -30px;
  bottom: -30px;
  background-color: var(--color-yellow-100);
  transform: scale(0.6);
  transition: right 1s;
}
.app .header .contact__card__btn:hover {
  background-color: var(--color-yellow-70);
}
.app .header .about, .app .header .skills, .app .header .education, .app .header .work, .app .header .portfolio, .app .header .contact {
  border-color: var(--color-black);
  border-style: solid;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app .header .about__title, .app .header .skills__title, .app .header .education__title, .app .header .work__title, .app .header .portfolio__title, .app .header .contact__title {
  font-family: var(--font-secondary);
  font-size: var(--size-48);
  font-weight: var(--weight-medium);
  color: var(--color-text);
  line-height: 125%;
  text-transform: uppercase;
}
.app .header .about__title.active-title, .app .header .skills__title.active-title, .app .header .education__title.active-title, .app .header .work__title.active-title, .app .header .portfolio__title.active-title, .app .header .contact__title.active-title {
  position: absolute;
  left: 86px;
  top: 120px;
}
.app .header .about__content, .app .header .skills__content, .app .header .education__content, .app .header .work__content, .app .header .portfolio__content, .app .header .contact__content {
  display: none;
  position: absolute;
  width: 0%;
  height: 0%;
  visibility: hidden;
  transition: width 1s height 1s;
}
.app .header .about__content.display, .app .header .skills__content.display, .app .header .education__content.display, .app .header .work__content.display, .app .header .portfolio__content.display, .app .header .contact__content.display {
  width: 100%;
  height: 100%;
  display: flex;
  visibility: visible;
  align-items: flex-end;
}
.app .header .about.active {
  background-color: var(--color-pale-70);
}
.app .header .skills.active {
  background-color: var(--color-azure-70);
}
.app .header .education.active {
  background-color: var(--color-neon-pink-70);
}
.app .header .work.active {
  background-color: var(--color-blue-70);
}
.app .header .portfolio.active {
  background-color: var(--color-pink-70);
}
.app .header .contact.active {
  background-color: var(--color-yellow-70);
}
.app .header .active {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 80px;
  border: var(--border-black);
  outline: 80px solid var(--color-body);
}
.app .header .active:hover {
  cursor: default;
}
.app .header .skills__container, .app .header .education__container, .app .header .work__container, .app .header .portfolio__container, .app .header .contact__container {
  padding: 36px;
  margin: 50px;
  display: grid;
  position: relative;
  bottom: 0;
  width: 100%;
}

@media screen and (max-width: 1023px) {
  .app .header {
    margin: 0 60px 0 60px;
  }
  .app .header__logo {
    max-width: 260px;
  }
  .app .header .about__title, .app .header .skills__title, .app .header .education__title, .app .header .work__title, .app .header .portfolio__title, .app .header .contact__title {
    font-family: var(--font-secondary);
    font-size: var(--size-40);
    font-weight: var(--weight-medium);
    color: var(--color-text);
    line-height: 48px;
  }
  .app .header .about__short, .app .header .about__long {
    font-family: var(--font-main);
    font-size: var(--size-14);
    font-weight: var(--weight-regular);
    color: var(--color-text);
    line-height: 16px;
  }
  .app .header .about__img {
    padding: 30px;
  }
  .app .header .education__card__profession {
    font-family: var(--font-main);
    font-size: var(--size-14);
    font-weight: var(--weight-medium);
    color: var(--color-text);
    line-height: 16px;
  }
  .app .header .education__card__school {
    font-family: var(--font-main);
    font-size: var(--size-18);
    font-weight: var(--weight-bold);
    color: var(--color-text);
    line-height: 22px;
  }
  .app .header .work__container {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 50%;
    grid-template-columns: repeat(1, 1fr);
  }
  .app .header .work__card__items {
    width: 90%;
  }
  .app .header .portfolio__container {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 55%;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 768px) {
  .app .header {
    margin: 0 20px 0 20px;
  }
  .app .header__logo {
    max-width: 220px;
  }
  .app .header .about__title, .app .header .skills__title, .app .header .education__title, .app .header .work__title, .app .header .portfolio__title, .app .header .contact__title {
    font-family: var(--font-secondary);
    font-size: var(--size-32);
    font-weight: var(--weight-medium);
    color: var(--color-text);
    line-height: 40px;
  }
  .app .header .about__short {
    font-family: var(--font-main);
    font-size: var(--size-12);
    font-weight: var(--weight-regular);
    color: var(--color-text);
    line-height: 16px;
    width: 35%;
  }
  .app .header .about__img {
    padding: 10px;
  }
  .app .header .about .visible {
    width: 100%;
    border-radius: 80px;
  }
  .app .header .about .move {
    right: 96%;
  }
  .app .header .skills__container, .app .header .education__container {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 48%;
    grid-template-columns: repeat(2, 1fr);
  }
  .app .header .portfolio__container {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (max-width: 480px) {
  .app .btn-round {
    width: 44px;
    height: 44px;
    border: var(--border-black-mobile);
  }
  .app .btn-round i {
    font-size: var(--size-20);
  }
  .app .header__logo {
    font-size: var(--size-32);
    line-height: 40px;
    max-width: 180px;
    padding: 0 6px;
    border: var(--border-black-mobile);
    top: -20px;
  }
  .app .header__btn {
    left: -22px;
    top: 40px;
    margin: 0;
  }
  .app .header__btns {
    gap: 6px;
    bottom: -22px;
    right: 12px;
  }
  .app .header__sections {
    grid-template-columns: repeat(1, 1fr);
  }
  .app .header .about {
    border-width: 6px 6px 3px 6px;
    border-radius: 80px 80px 0 0;
  }
  .app .header .about__long {
    font-family: var(--font-main);
    font-size: var(--size-12);
    font-weight: var(--weight-regular);
    color: var(--color-text);
    line-height: 16px;
  }
  .app .header .about__container {
    flex-direction: column;
    justify-content: flex-end;
    gap: 24px;
  }
  .app .header .about__short {
    width: 100%;
  }
  .app .header .about__img {
    width: 80%;
  }
  .app .header .about .visible {
    padding: 48px;
  }
  .app .header .education, .app .header .work, .app .header .portfolio, .app .header .skills {
    border-width: 3px 6px 3px 6px;
    border-radius: 0;
  }
  .app .header .contact {
    border-width: 3px 6px 6px 6px;
    border-radius: 0 0 80px 80px;
  }
  .app .header .active {
    border-radius: 80px;
    border: var(--border-black);
  }
  .app .header .about__title.active-title, .app .header .skills__title.active-title, .app .header .education__title.active-title, .app .header .work__title.active-title, .app .header .portfolio__title.active-title, .app .header .contact__title.active-title {
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 100px;
  }
  .app .header .about__container, .app .header .skills__container, .app .header .education__container, .app .header .work__container, .app .header .portfolio__container, .app .header .contact__container {
    margin: 20px 20px 40px 20px;
    padding: 22px;
  }
  .app .header .btn-exit {
    top: 48px;
    right: 28px;
  }
  .app .header .skills__container, .app .header .education__container {
    grid-template-columns: repeat(1, 1fr);
  }
  .app .header .work__card__items {
    gap: 32px;
  }
  .app .header .work__card__profession {
    font-family: var(--font-main);
    font-size: var(--size-18);
    font-weight: var(--weight-bold);
    color: var(--color-text);
    line-height: 22px;
  }
  .app .header .work__card__item {
    gap: 12px;
  }
  .app .header .work__card__item__bottom {
    flex-direction: column;
    gap: 6px;
  }
  .app .header .portfolio__card__text {
    font-family: var(--font-main);
    font-size: var(--size-14);
    font-weight: var(--weight-medium);
    color: var(--color-text);
    line-height: 16px;
  }
  .app .header .portfolio__card__text .bold {
    font-family: var(--font-main);
    font-size: var(--size-14);
    font-weight: var(--weight-bold);
    color: var(--color-text);
    line-height: 16px;
  }
  .app .header .portfolio__card__text__read {
    font-family: var(--font-main);
    font-size: var(--size-14);
    font-weight: var(--weight-light);
    color: var(--color-text);
    line-height: 16px;
  }
}/*# sourceMappingURL=index.css.map */