@font-face {
  font-family: "xillian";
  src: url(../fonts/Xillian-Regular.otf) format(opentype);
}
@font-face {
  font-family: "lato";
  src: url(../fonts/Lato-Black.ttf) format(truetype);
  font-weight: 700;
}
@font-face {
  font-family: "lato";
  src: url(../fonts/Lato-Light.ttf) format(truetype);
  font-weight: 300;
}
@font-face {
  font-family: "lato";
  src: url(../fonts/Lato-Regular.ttf) format(truetype);
  font-weight: 400;
}
@font-face {
  font-family: "lato";
  src: url(../fonts/Lato-Bold.ttf) format(truetype);
  font-weight: 500;
}
.app .skills__card__top, .app .about__long, .app .about__short {
  font-family: var(--font-main);
  font-size: var(--size-16);
  color: var(--color-text);
  line-height: 18px;
}

.app .about, .app .skills, .app .education, .app .work, .app .portfolio, .app .contact {
  border-color: var(--color-black);
  border-style: solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app .skills-active, .app .about-active, .work-active, .portfolio-active, .education-active, .contact-active, .about-active {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 80px;
  border: var(--border-black);
  outline: 80px solid var(--color-body);
}
.app .skills-active:hover, .work-active:hover, .portfolio-active:hover, .education-active:hover, .contact-active:hover, .about-active:hover {
  cursor: default;
}

:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-body: #F0EAD8;
  --color-text: #020E2C;
  --color-azure-100: #0DB39E;
  --color-azure-70: #51C4AF;
  --color-azure-40: #95D4C1;
  --color-blue-100: #048BA8;
  --color-blue-70: #4BA8B6;
  --color-blue-40: #92C4C5;
  --color-yellow-100: #F7B538;
  --color-yellow-70: #F5C568;
  --color-yellow-40: #F3D598;
  --color-neon-pink-100: #F73668;
  --color-neon-pink-70: #F56C8A;
  --color-neon-pink-40: #F3A2AB;
  --color-pink-100: #F76E7C;
  --color-pink-70: #F59398;
  --color-pink-40: #F3B8B3;
  --color-pale-100: #FF7F75;
  --color-pale-70: #FA9F93;
  --color-pale-40: #F6BFB0;
  --color-scroll: #F0EAD833;
  --font-main: "lato", sans-serif;
  --font-secondary: "xillian", sans-serif;
  --size-12: 12px;
  --size-14: 14px;
  --size-16: 16px;
  --size-18: 18px;
  --size-20: 20px;
  --size-32: 32px;
  --size-40: 40px;
  --size-48: 48px;
  --weight-light: 300;
  --weight-regular: 400;
  --weight-medium: 500;
  --weight-bold: 700;
  --border-black: 6px solid var(--color-black);
  --border-black-mobile: 4px solid var(--color-black);
  --border-black-half: 3px solid var(--color-black);
}

.grey-mode {
  --color-body: #EAEAEA;
  --color-azure-100: #7F7F7F;
  --color-azure-70: #9F9F9F;
  --color-azure-40: #BFBFBF;
  --color-blue-100: #666666;
  --color-blue-70: #8E8E8E;
  --color-blue-40: #B5B5B5;
  --color-yellow-100: #BBBBBB;
  --color-yellow-70: #C9C9C9;
  --color-yellow-40: #D7D7D7;
  --color-neon-pink-100: #757575;
  --color-neon-pink-70: #989898;
  --color-neon-pink-40: #BBBBBB;
  --color-pink-100: #999999;
  --color-pink-70: #B1B1B1;
  --color-pink-40: #C9C9C9;
  --color-pale-100: #A4A4A4;
  --color-pale-70: #B9B9B9;
  --color-pale-40: #CECECE;
}

::-webkit-scrollbar {
  background-color: var(--color-scroll);
  width: 12px;
}

::-webkit-scrollbar-track {
  border: var(--border-black-half);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-scroll);
  border: var(--border-black-half);
  border-radius: 8px;
}

* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-body);
}

a, button, input, h1, h2, h3, h4, h5, h6, p {
  all: unset;
}

ul, li {
  list-style-type: none;
}

.btn-round {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--color-azure-100);
  border: var(--border-black);
  box-shadow: -4px 4px 0px var(--color-black);
}
.btn-round i {
  color: var(--color-black);
  font-size: var(--size-32);
}
.btn-round:hover {
  cursor: pointer;
  background-color: var(--color-azure-70);
}

.btn-exit {
  position: absolute;
  right: 60px;
  top: 60px;
}

.about-active {
  background-color: var(--color-pale-70) !important;
}

.contact-active {
  background-color: var(--color-yellow-70) !important;
}

.education-active {
  background-color: var(--color-neon-pink-70) !important;
}

.portfolio-active {
  background-color: var(--color-pink-70) !important;
}

.work-active {
  background-color: var(--color-blue-70) !important;
}

.visible {
  padding: 86px;
  outline: var(--border-black);
  width: 60% !important;
  transform: scale(1) !important;
}

.move {
  right: 58% !important;
}

#root {
  width: 100vw;
  height: 100vh;
}

.app {
  background-color: var(--color-body);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.app .header {
  position: relative;
  width: 100%;
  max-width: 1240px;
  height: 80%;
  max-height: 600px;
  margin: 0px 100px 0px 100px;
}
.app .header__logo {
  font-family: var(--font-secondary);
  font-size: var(--size-40);
  font-weight: var(--weight-medium);
  color: var(--color-text);
  line-height: 48px;
  max-width: 472px;
  padding: 0 70px;
  border: var(--border-black);
  border-radius: 60px;
  background-color: var(--color-azure-100);
  position: absolute;
  top: -30px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 3;
}
.app .header__btn {
  position: absolute;
  left: -40px;
  margin-top: auto;
  margin-bottom: auto;
  top: 0;
  bottom: 0;
  z-index: 3;
}
.app .header__btns {
  display: flex;
  gap: 18px;
  position: absolute;
  bottom: -40px;
  right: 52px;
  z-index: 3;
}
.app .header__sections {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0;
  position: relative;
}
.app .about {
  background-color: var(--color-pale-40);
  border-width: 6px 3px 3px 6px;
  border-radius: 80px 0 0 0;
}
.app .about:hover {
  cursor: pointer;
  background-color: var(--color-pale-70);
}
.app .about__more {
  background-color: var(--color-yellow-100);
  position: absolute;
  margin-top: auto;
  margin-bottom: auto;
  top: 0;
  bottom: 0;
  right: -40px;
  z-index: 3;
  transition: right 1s;
}
.app .about__more:hover {
  background-color: var(--color-yellow-70);
}
.app .about__container {
  padding: 86px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.app .about__img {
  width: 50%;
  padding: 50px;
  align-self: center;
  justify-self: center;
}
.app .about__short {
  width: 28%;
  font-weight: var(--weight-regular);
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.app .about__long {
  font-weight: var(--weight-regular);
  position: absolute;
  right: 0px;
  top: 0px;
  width: 0%;
  border-radius: 0 80px 80px 0;
  background-color: var(--color-yellow-70);
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: scale(0.7);
  transition: width 1s, outline 1s, padding 1s, height 1s, transform 1s;
}
.app .about__long p {
  overflow: hidden;
}
.app .about-active {
  background-color: var(--color-pale-70);
}
.app .skills {
  background-color: var(--color-azure-40);
  border-width: 6px 3px 3px 3px;
}
.app .skills:hover {
  cursor: pointer;
  background-color: var(--color-azure-70);
}
.app .skills__container {
  padding: 36px;
  margin: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 46px;
  position: relative;
  bottom: 0;
  width: 100%;
}
.app .skills__card {
  display: flex;
  flex-direction: column;
  height: 46px;
  width: 100%;
  justify-content: space-between;
}
.app .skills__card__top {
  display: flex;
  justify-content: space-between;
  font-weight: var(--weight-regular);
}
.app .skills__card__bottom {
  width: 100%;
  position: relative;
}
.app .skills__card__bottom__bar-percent {
  position: absolute;
  top: 0;
  left: 0;
  height: 14px;
  background-color: var(--color-yellow-100);
  border: var(--border-black-mobile);
  border-radius: 8px;
}
.app .skills__card__bottom__bar-bg {
  background-color: var(--color-body);
  border: var(--border-black-half);
  border-radius: 8px;
  width: 100%;
  height: 14px;
}
.app .skills-active {
  background-color: var(--color-azure-70);
}
.app .skills-active__content {
  display: flex;
  align-items: flex-end;
}
.app .education {
  background-color: var(--color-neon-pink-40);
  border-width: 6px 6px 3px 3px;
  border-radius: 0 80px 0 0;
}
.app .education:hover {
  cursor: pointer;
  background-color: var(--color-neon-pink-70);
}
.app .work {
  background-color: var(--color-blue-40);
  border-width: 3px 3px 6px 6px;
  border-radius: 0 0 0 80px;
}
.app .work:hover {
  cursor: pointer;
  background-color: var(--color-blue-70);
}
.app .portfolio {
  background-color: var(--color-pink-40);
  border-width: 3px 3px 6px 3px;
}
.app .portfolio:hover {
  cursor: pointer;
  background-color: var(--color-pink-70);
}
.app .contact {
  background-color: var(--color-yellow-40);
  border-width: 3px 6px 6px 3px;
  border-radius: 0 0 80px 0;
}
.app .contact:hover {
  cursor: pointer;
  background-color: var(--color-yellow-70);
}
.app .about__title, .app .skills__title, .app .education__title, .app .work__title, .app .portfolio__title, .app .contact__title {
  font-family: var(--font-secondary);
  font-size: var(--size-48);
  font-weight: var(--weight-medium);
  color: var(--color-text);
  line-height: 125%;
  text-transform: uppercase;
}
.app .about-active__title, .app .skills-active__title, .app .education-active__title, .app .work-active__title, .app .portfolio-active__title, .app .contact-active__title {
  font-family: var(--font-secondary);
  font-size: var(--size-48);
  font-weight: var(--weight-medium);
  color: var(--color-text);
  line-height: 125%;
  text-transform: uppercase;
  position: absolute;
  left: 86px;
  top: 120px;
}
.app .about-active__content, .app .skills-active__content, .app .education-active__content, .app .work-active__content, .app .portfolio-active__content, .app .contact-active__content {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  visibility: hidden;
}
.app .about-active .display, .app .skills-active .display, .app .education-active .display, .app .work-active .display, .app .portfolio-active .display, .app .contact-active .display {
  display: flex;
  visibility: visible;
}

@media screen and (max-width: 1023px) {
  .app .header {
    margin: 0 60px 0 60px;
  }
  .app .header__logo {
    max-width: 260px;
  }
  .app .header .about__title, .app .header .skills__title, .app .header .education__title, .app .header .work__title, .app .header .portfolio__title, .app .header .contact__title {
    font-family: var(--font-secondary);
    font-size: var(--size-40);
    font-weight: var(--weight-medium);
    color: var(--color-text);
    line-height: 48px;
  }
  .app .header .about__short, .app .header .about__long {
    font-family: var(--font-main);
    font-size: var(--size-14);
    font-weight: var(--weight-regular);
    color: var(--color-text);
    line-height: 16px;
  }
  .app .header .about__img {
    padding: 30px;
  }
}
@media screen and (max-width: 768px) {
  .app .header {
    margin: 0 20px 0 20px;
  }
  .app .header__logo {
    max-width: 220px;
  }
  .app .header .about__title, .app .header .skills__title, .app .header .education__title, .app .header .work__title, .app .header .portfolio__title, .app .header .contact__title {
    font-family: var(--font-secondary);
    font-size: var(--size-32);
    font-weight: var(--weight-medium);
    color: var(--color-text);
    line-height: 40px;
  }
  .app .header .about__short {
    font-family: var(--font-main);
    font-size: var(--size-12);
    font-weight: var(--weight-regular);
    color: var(--color-text);
    line-height: 16px;
    width: 35%;
  }
  .app .header .about__img {
    padding: 10px;
  }
  .app .header .skills__container {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 48%;
    grid-template-columns: repeat(2, 1fr);
  }
  .visible {
    width: 100% !important;
    border-radius: 80px !important;
  }
  .move {
    right: 96% !important;
  }
}
@media screen and (max-width: 480px) {
  .app .btn-round {
    width: 44px;
    height: 44px;
    border: var(--border-black-mobile);
  }
  .app .btn-round i {
    font-size: var(--size-20);
  }
  .app .header__logo {
    font-size: var(--size-32);
    line-height: 40px;
    max-width: 180px;
    padding: 0 6px;
    border: var(--border-black-mobile);
    top: -20px;
  }
  .app .header__btn {
    left: -22px;
    top: 40px;
    margin: 0;
  }
  .app .header__btns {
    gap: 6px;
    bottom: -22px;
    right: 12px;
  }
  .app .header__sections {
    grid-template-columns: repeat(1, 1fr);
  }
  .app .header .about {
    border-width: 6px 6px 3px 6px;
    border-radius: 80px 80px 0 0;
  }
  .app .header .about__long {
    font-family: var(--font-main);
    font-size: var(--size-12);
    font-weight: var(--weight-regular);
    color: var(--color-text);
    line-height: 16px;
  }
  .app .header .about__container {
    flex-direction: column;
    padding: 42px;
    justify-content: flex-end;
    gap: 24px;
  }
  .app .header .about__short {
    width: 100%;
  }
  .app .header .about__img {
    width: 80%;
  }
  .app .header .visible {
    padding: 48px !important;
  }
  .app .header .education, .app .header .work, .app .header .portfolio, .app .header .skills {
    border-width: 3px 6px 3px 6px;
    border-radius: 0;
  }
  .app .header .contact {
    border-width: 3px 6px 6px 6px;
    border-radius: 0 0 80px 80px;
  }
  .app .header .about-active__title, .app .header .skills-active__title, .app .header .education-active__title, .app .header .work-active__title, .app .header .portfolio-active__title, .app .header .contact-active__title {
    margin-left: auto;
    margin-right: auto;
    right: 0;
    top: 100px;
  }
  .app .header .btn-exit {
    top: 48px;
    right: 28px;
  }
  .app .header .skills__container {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 48%;
    grid-template-columns: repeat(1, 1fr);
  }
}/*# sourceMappingURL=index.css.map */